html, body {
    height: 100%;
    width: 100%;
  }
  
  :root{
      --primary-color: red;
      --secondary-color: blue;
      --third-color:lightgreen;
      --fourth-color: yellow;
      --fifth-color: orange;
      --sixth-color: pink;
      --seventh-color: aqua;
      --eighth-color: blueviolet;
      --ninth-color: mistyrose;
      --tenth-color: black;
  }
  
  .container{
      display: flex;
      flex-direction: column;
      margin: auto;
      /* background: url("cash-register.webp"); */
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("cash-register.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      width: 50rem;
      padding-bottom: 10rem;
      border-radius: 3rem;
  }

  .container2{
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 2rem;
    margin: 5rem;
    border-radius: 2rem;
  }
  
  .heading{
      text-align: center;
  }
  
  .description{
      text-align: center;
      font-weight: bold;
      font-size: medium;
      padding: 1rem;
      border-radius: 3rem;
  }
  
  .buttons{
      text-align: center;
      background-color: rgba(0,0,0,0.4);
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 3rem;
      width: 50%;
      color: white;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      border: 2px solid black;
  }
  
  .chekbutton{
      text-align: center;
      background-color:  rgba(60, 255, 1, 0.5);
      transition: 0.5s;
      font-weight: bold;
      width: 30%;
      color: white;
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 3rem;
  
  }
  .chekbutton:hover{
    background-color:rgba(245, 94, 94, 0.4);
  }
  .errormsg{
      color: white;
      font-weight: bold;
      width: 50%;
      padding: 0.5rem;
      border-radius: 3rem;
      text-align: center;
  }
  
  .change-table{
      background-color: rgba(60, 255, 1, 0.5);
      text-align: center;
      height: 5rem;
      width: 60%;
      word-spacing: normal;
      border-radius: 2rem;
      border-style: none;

  }
th{
    padding: 0.5rem;
    border-style: none;
    text-decoration: underline;
}

  .note{
      padding: 0.5rem;
      border-style: none;
      font-weight: bold;
  }
  .no-of-notes{
      padding: 0.5rem;
      border-style: none;
      font-weight: bold;
  }
  
  .caption-style{
      font-size: medium;
      font-weight: bold;
      color: white;
      margin-bottom: 1rem;
  }

input{
    padding: 0.5rem;
    width: 40%;

    border-radius: 2rem;
    text-align: center;
}